#
tesis/tesis.aux
tesis/tesis.bbl
tesis/tesis.blg
tesis/tesis.fdb_latexmk
tesis/tesis.fls
tesis/tesis.log
tesis/tesis.out
tesis/tesis.synctex.gz
tesis/tesis.toc

#
slides/slides.aux
slides/slides.bbl
slides/slides.blg
slides/slides.fdb_latexmk
slides/slides.fls
slides/slides.log
slides/slides.out
slides/slides.synctex.gz
slides/slides.toc
slides/slides.nav
slides/slides.snm

#
docs/
