#
tex/tesis.aux
tex/tesis.bbl
tex/tesis.blg
tex/tesis.fdb_latexmk
tex/tesis.fls
tex/tesis.log
tex/tesis.out
tex/tesis.synctex.gz
tex/tesis.toc

#
slides/slides.aux
slides/slides.bbl
slides/slides.blg
slides/slides.fdb_latexmk
slides/slides.fls
slides/slides.log
slides/slides.out
slides/slides.synctex.gz
slides/slides.toc
slides/slides.nav
slides/slides.snm

#
docs/
